.App {
margin-left: auto;
margin-right: auto;
width:1280px

}

main, form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea{
  width: 500px;
  height: 100px;
}

.btn{
  background-color: #0EA5E9;
  font-size: 14px;
  color:white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  width: 75px;
  height: 30px;
}

.wrapper-response{
  background-color: aliceblue;
  border: 1px solid black;
  border-radius: 3px;
  margin-bottom: 10px;
  height: 100%;
}

li{
  list-style-type: none;
}
